/* Common & Reset Styles */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --very_dark_grayish_blue: hsl(217, 19%, 35%);
  --desaturated_dark_blue: hsl(214, 17%, 51%);
  --grayish_blue: hsl(212, 23%, 69%);
  --light_grayish_blue: hsl(210, 46%, 95%);
}

/* End of Common & Reset Styles */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--light_grayish_blue);
  font-family: 'Manrope', sans-serif;
  font-size: 1.3rem;
}

.card {
  width: 24rem;
  background-color: #fff;
  border-radius: 1.2rem;
  border: none;
}

.card-img-top {
  width: 100%;
  height: 15rem;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  margin-bottom: 1.5rem;
}

.card-title {
  font-weight: 700;
  line-height: 1.5;
  padding: 0 0.7rem;
  color: var(--very_dark_grayish_blue);
}

.card-text {
  font-weight: 500;
  padding: 0 0.7rem;
  color: var(--desaturated_dark_blue);
  font-size: 1rem;
}

.card-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0 1rem 0;
}

.user-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.avatar-container {
  margin-right: 1rem;
}

.avatar-container img {
  width: 3.5rem;
  border-radius: 50%;
}

.user-info span {
  display: block;
  font-size: 1rem;
}

span:first-child {
  color: var(--very_dark_grayish_blue);
  font-weight: 700;
}

span:last-child {
  color: var(--grayish_blue);
  font-weight: 700;
}

.btn-container {
  background-color: var(--light_grayish_blue);
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}

.btn-container:hover,
.btn-container:active {
  background-color: var(--very_dark_grayish_blue);
}

.btn-container a svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(40%, 35%);
  fill: #6E8098
}

.btn-container a:hover svg,
.btn-container a:active svg {
  fill: #fff;
}

.social-media-icons-modal {
  background-color: var(--very_dark_grayish_blue);
  width: 20rem;
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.social-media-icons-modal::after {
  content: '';
  width: 2rem;
  height: 2rem;
  background-color:var(--very_dark_grayish_blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  z-index: -10;
}

.social-media-icons-modal span {
  color: var(--desaturated_dark_blue);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.3rem;
}
